*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header{
    width: 100%;
    height: 98vh; 
    position: relative;
    background-image: url(Images/Homepic.jpg);
    background-size: cover;
}
.container{
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}
nav{
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 22;
    width: 100%;
    /* display:inline-flex;
    align-items: end;
    justify-content: space-between; */
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: right;
    padding: 10px;
}
nav ul{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
/* .logo{
    width: 400px;
} */
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 17px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 19px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;    
    height: 3px;
    background-color: #7fff07;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;   
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 22%;
    padding-left: 20px;
    font-size: 28px;
}
.header-text h1{
    font-size: 40px;
    margin-top: 10px;
}
.header-text h1 span{
    color: chartreuse;
}
/*-------------------------------------About---------------------------------------------------*/
#about{
    padding: 80px 0;
    color: #fff;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col2{
    flex-basis: 25%;
}
.about-col2 img{
    width: 90%;
    border-radius: 15px;
}
.about-col1{
    flex-basis: 60%;
    text-align: justify
}
.head-title{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
.head-title C{
    color: #7fff07;
}
.about-col1 h2 back{
    color: #7fff07;
}
/*---------------------------------------Education-------------------------------------------------*/
#portfolio{
    padding: 50px 0;
}
.list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,4fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.edu{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.edu img{
    width: 90%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#7fff07);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 20px;
    transition: height 0.5s;
}
.layer h2{
    font-weight: 500;
    margin-bottom: 20px;
}
.edu:hover img{
    transform: scale(1.1);
}
.edu:hover .layer{
    height: 100%;
}
/*---------------------------------------Skills----------------------------------------------*/
#inner{
    padding: 50px 0;
}
.head{
    text-align: center;
    color: #fff;
    padding: 1rem;
}
.contain{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}
.skills-box{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}
.skills-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}
.skills-box:hover .skills-title::after{
    width: 35px;
}
.skills-box:hover .skills-title::before{
    width: 35px;
}
.skills-title::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #7fff07;
    transition: 0.3s;
}
.skills-title::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #7fff07;
    transition: 0.5s;
}
.img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: linear-gradient(rgba(0,0,0,0.6),#7fff07);
    border-radius: 45px 0 0 45px;
}
.skills-title h3{
    color: #fff;
    margin-top: 0.5rem;

}
.skill-icon{
    width: 50px;
    z-index: 2;
}
/*--------------------------------------Projects-----------------------------------------------*/
#projects{
    padding: 50px 0;
    flex-direction:column;
    max-width: 1200px;
    margin: 0 auto;
}
#projects .project-head{
    margin-bottom: 50px;
}
#projects .project-contents{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: flex;
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}
#projects .project-info{
    padding: 30px;
    flex-basis: 100px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
#projects .project-info h1{
    font-size: 2rem;
    font-weight: 500;
}
#projects .project-info h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
}
#projects .project-info p{
    color: #fff;
}
#projects .project-img{
    flex-basis: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#projects .project-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
#projects .project-img img{
    transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img{
    transform: scale(1.1);
}
#projects .project-info h1 C{
    color: #7fff07;
}
/*-------------------------------------------certification---------------------------------------------------------*/
#cerification{
    box-sizing: box;
    min-height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.box{
    position: relative;
    width: 750px;
    height: 850px;
    background: #222;
    border-radius: 10px;
    z-index: 2;
    padding: 90px;
    margin: 30px 0px;
}
.box h1{
    margin-bottom: 50px;
}
.box .list{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 15px;
    border-radius: 10px;
    background: #0000001a;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;   
}
.box .list:hover{
    background: linear-gradient(rgba(0,0,0,0.6),#7fff07);
    transform: scale(1) translateX(30px) translateY(-5px);
}
.box .list .c-info h2{
    position: absolute;
    right: -60px;
    top: 50%;
    transform: translateY(-50%);
    color: #080808;
    transition: 0.5s;
    font-size: 2em;
}
.box .list:hover .c-info h2{
    right: 20px;
}
.box .list .c-info h2 small{
    font-weight: 500;
    opacity: 0.25;
}
.box .list .c-info h3{
    font-weight: 600;
    line-height: 1.2em;
    transition: 0.5s;
}
.box .list:hover .c-info h3{
    color: #fff;
}
.box .list .c-info h4{
    font-size: 1em;
    transition: 0.5s;
}
/*-----------------------------------------------Images--------------------------------------------*/
#images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#images img{
    width: 400px;
    height: 300px;
    border: 2px solid #7fff07;
    border-radius: 15px;
    box-shadow: 4px 7px 7px 0 #00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}
#images img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
}
/*---------------------------------------------------Contact---------------------------------*/
#contact{
    padding: 50px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact .container{
    width: 100%;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.cont-left{
    flex-basis: 35%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}
.cont-right{
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont-left p{
    margin-top: 30px;
}
.cont-left p i{
    color: #7fff07;        
    margin-right: 15px;
    font-size: 20px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 70px;
    margin-right: 15px;
    color: #ddd;
    display: inline-block ;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #7fff07;
    transform: translateY(-5px);
}